---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  <p>
    <p>{summary.replace(/^\s+/, "")}</p>
  </p>
</Section>

<style>
  p {
    color: #333333;
    font-size: 16px;
    text-align: left;
    white-space: pre-wrap;
  }
</style>
